<div class="table-wrapper" data-bind="scope: 'items-table'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "items-table": {
                        "component": "Babs_ShippingEvent/js/table",
                        "template": "Babs_ShippingEvent/table"
                    }
                }
            }
        }
    }
</script>