<div if="visibilityFlag">
    <table>
        <thead>
            <tr>
                <th data-bind="i18n: 'Item ID'"></th>
                <th data-bind="i18n: 'Shipping event ID'"></th>
                <th data-bind="i18n: 'Product ID'"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td data-bind="text: item_id"></td>
                <td data-bind="text: shipping_event_id"></td>
                <td data-bind="text: product_id"></td>
            </tr>
        </tbody>
    </table>
    <button class="action action-update" type="button" data-bind="click: visibilityOff">
        <span data-bind="i18n: '<< Back'"></span>
    </button>
</div>
<div ifnot="visibilityFlag" class="admin__data-grid-wrap" data-role="grid-wrapper">
    <table class="data-grid" data-role="grid">
        <thead>
        <tr each="data: getVisible(), as: '$col'" render="getHeader()"/>
        </thead>
        <tbody>
        <tr class="data-row" repeat="foreach: rows, item: '$row'" css="'_odd-row': $index % 2">
            <td outerfasteach="data: getVisible(), as: '$col'"
                css="getFieldClass($row())" click="getFieldHandler($row())" template="getBody()"/>
        </tr>
        <tr ifnot="hasData()" class="data-grid-tr-no-data">
            <td attr="colspan: countVisible()" translate="'We couldn\'t find any records.'"/>
        </tr>
        </tbody>
    </table>
</div>
